<li>
  <%= gravatar_for user, size: Settings.avatar.show_size %>
  <%= link_to user.name, user %>
  <% if check_user? user %>
  |  <%= link_to t("delete"), user, method: :delete, data: {confirm: t("noti.confirm")} %>
  <% end %>
</li>
